<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project updated="3.3.0" runType="SEQUENTIAL" resourceRoot="" name="TekSchoolAPIProject" id="6f85fb18-c6ab-4059-b921-aa9937d5ea5a" encryptionMode="Not encrypted" compositeProjectFormat="1.3" activeEnvironment="Default environment" abortOnError="false" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="6f85fb18-c6ab-4059-b921-aa9937d5ea5afileName"/></con:settings><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:jmsConnectionContainer/><con:oAuth2ProfileContainer/><con:oAuth1ProfileContainer/><con:sensitiveInformation/><con:authRepository/><con:tags/></con:soapui-project>